/* Category Page */
#category-page {
    display: block;
    width: 86.11%;
    margin: 0 auto;
    font-family: var(--font-secondary);
}

.category-container {
    margin: 10px 0;
    display: flex;
    gap: 20px;
    width: 86.11vw;
}

.product-container--casual {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.products-grid--casual {
    display: block;
}

.product-card-display img {
    width: 430px;
    border-radius: 20px;
    height: 450px;

}

.categories {
    flex-basis: 250px;
    flex-shrink: 0;
    width: 23%;
}

.products-display--casual {
    flex-grow: 1;
    width: 77%;
}

.products-display-heading {
    display: block;
    justify-content: center;
    margin-bottom: 50px;
}

.products-display-heading-left {
    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-secondary);
    float: left;
}

.products-display-heading-right {
    float: right;
    text-align: center;
    justify-content: center;
}

.products-display-heading-right-item {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: bold;
}

/* Category Page */
.sidebar {
    background: white;
    border-radius: 20px;
    width: 280px;
    padding: 20px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: var(--font-secondary);
    color: rgba(0, 0, 0, 0.6);
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 24px;
}

.products-grid--casual img {
    border-radius: 20px;
}

.section-title .fa-sliders-h {
    color: rgba(0, 0, 0, 0.4);
}

.section-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.item-list,
.dress-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-list li,
.dress-style li {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #000;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.2);

}

.color-picker :nth-child(1) {
    background-color: #00D26A;
}

.color-picker :nth-child(2) {
    background-color: #FF2D2D;

}

.color-picker :nth-child(3) {
    background-color: #FFE600;

}

.color-picker :nth-child(4) {
    background-color: #FF8A00;

}

.color-picker :nth-child(5) {
    background-color: #00CFFF;

}

.color-picker :nth-child(6) {
    background-color: #0038FF;
}

.color-picker :nth-child(7) {
    background-color: #A300FF;

}

.color-picker :nth-child(8) {
    background-color: #FF00B8;

}

.color-picker :nth-child(9) {
    background-color: #FFF;

}

.color-picker :nth-child(10) {
    background-color: #000;

}

.selected::after {
    content: '\f00c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: white;
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 14px;
}

.size-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.size-buttons button {
    padding: 12px 20px;
    background: #eee;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.size-buttons .selected {
    background: black;
    color: white;
}

.apply-filter {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.page-btn-left {
    float: left;
}

.page-btn-right {
    float: right;
}

.page-numbers-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.page-btn {
    padding: 12px 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.page-btn:hover {
    background: #f0f0f0;
}

.page-number {
    padding: 12px 20px;
    border-radius: 8px;
    color: #555;
    cursor: pointer;
}

.page-number:hover {
    background-color: #f5f5f5;
}

.page-number.active {
    background: #e5e5e5;
    color: #000;
    font-weight: bold;
}

.ellipsis {
    padding: 8px 12px;
    color: #bbb;
    cursor: default;}