@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;
@layer base {
  a {
  }
}

@theme {
  /* Font Families */
  --font-primary: "Integral CF", sans-serif;
  --font-secondary: "Satoshi", sans-serif;

  /* Font Sizes */
  --text-small: 12px;
  --text-base: 14px;
  --text-medium: 16px;
  --text-large: 20px;
  --text-xl: 24px;
  --text-xxl: 32px;
  --text-heading-sm: 36px;
  --text-heading-md: 40px;
  --text-heading-lg: 48px;
  --text-heading-xl: 64px;

  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #d9d9d9;
  --color-gray-medium: #f0f0f0;
  --color-gray-dark: #888888; 
   --color-gray-hero: #F2F0F1;

  --color-accent: #ff3333;
  --color-star: #ffc633;
  --color-success: #01ab31;

  /* Spacing */
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 15px;
  --space-lg: 20px;
  --space-xl: 30px;
  --space-xxl: 40px;

  /* Border Radius */
  --radius-sm: 20px;
  --radius-md: 40px;
  --radius-lg: 62px;
  --radius-circle: 50%;

  /* Shadows */
  --shadow-sm: 0 2px 10px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);

  /* Transitions */
  --transition-fast: 0.2s ease;
  --transition-medium: 0.3s ease;
  --transition-slow: 0.5s ease;
}

@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-ThinItalic.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../src/assets/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-Thin.oft")
    format("otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-ThinOblique.of")
    format("otf");
  font-weight: 100;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-ExtraLight.oft")
    format("otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-ExtraLightOblique.of")
    format("otf");
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-Light.oft")
    format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-LightOblique.of")
    format("otf");
  font-weight: 300;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-Regular.oft")
    format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-RegularOblique.of")
    format("otf");
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-Medium.oft")
    format("otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-MediumOblique.of")
    format("otf");
  font-weight: 500;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-SemiBold.oft")
    format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-SemiBoldOblique.of")
    format("otf");
  font-weight: 600;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-Bold.oft")
    format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-BoldOblique.of")
    format("otf");
  font-weight: 700;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-ExtraBold.oft")
    format("otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-ExtraBoldOblique.of")
    format("otf");
  font-weight: 800;
  font-style: oblique;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-Black.oft")
    format("otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF";
  src: url("../src/assets/Fonts/Integral-CF/Fontspring-DEMO-integralcf-BlackOblique.otf")
    format("otf");
  font-weight: 900;
  font-style: oblique;
}
